certifi==2018.10.15
Click==7.0
cycler==0.10.0
dominate==2.3.5
Flask==1.0.2
Flask-Bootstrap==3.3.7.1
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.11.3
kiwisolver==1.0.1
MarkupSafe==1.1.0
matplotlib==3.0.2
numpy==1.15.4
pyparsing==2.3.0
python-dateutil==2.7.5
six==1.12.0
visitor==0.1.3
Werkzeug==0.14.1
PyMaxflow==1.2.12
scipy==1.2.1
scikit-image==0.15.0
